body {
  background: rgb(255, 255, 255);
}

body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-thumb {
  background-color: #47474780;
  border-radius: 5px;
}

body::-webkit-scrollbar-track {
  background-color: #ffffff00;
}

.scrollbarSize::-webkit-scrollbar {
  width: 0px;
}

.scrollbarSize::-webkit-scrollbar-thumb {
  background-color: #1e2ff23f;
  border-radius: 6px;
}

.scrollbarSize::-webkit-scrollbar-track {
  background-color: #ffffff00;
}

.scrollbarSize1::-webkit-scrollbar {
  height: 10px;
}

.scrollbarSize1::-webkit-scrollbar-thumb {
  background-color: #959d9da3;
  border-radius: 2px;
}

.scrollbarSize1::-webkit-scrollbar-track {
  background-color: #ffffff00;
}

.slide-in {
  animation: slide-in 0.3s ease-in-out forwards;
}

@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateX(5px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.slide-out {
  animation: slide-out 5s ease-in-out forwards;
}

@keyframes slide-out {
  from {
    opacity: 1;
    transform: translateX(px);
  }
  to {
    opacity: 0;
    transform: translateX(5px);
  }
}

.bgimage {
  position: fixed;

  background-image: url(./img/backgroundImg.jpg);
  background-size: fill;
  background-repeat: no-repeat;
  filter: blur(4px);
  z-index: 10;
  opacity: 1;
}

@keyframes resizer {
  0%,
  100% {
    height: 40%;
  }
  50% {
    height: 100%;
  }
}

.loadingChild:first-child {
  animation: resizer 2s ease-in-out infinite;
}

.loadingChild:nth-child(2) {
  animation: resizer 2s ease-in-out infinite;
  animation-delay: 0.2s;
}

.loadingChild:nth-child(3) {
  animation: resizer 2s ease-in-out infinite;
  animation-delay: 0.4s;
}

.loadingChild:nth-child(4) {
  animation: resizer 2s ease-in-out infinite;
  animation-delay: 0.6s;
}

.loadingChild:nth-child(5) {
  animation: resizer 2s ease-in-out infinite;
  animation-delay: 0.8s;
}

.circleLoading {
  border-right: 6px solid rgba(137, 161, 209, 0.218);
  border-left: 6px solid rgba(158, 160, 164, 0.18);
  border-bottom: 6px solid rgba(75, 119, 214, 0.118);
  border-top: 6px solid #ffffff00;
  animation: rotateCircle 1800ms ease-out infinite;
}
.circleLoading2 {
  border-right: 6px dotted rgba(255, 255, 255, 0.72);
  border-left: 6px dotted rgba(255, 255, 255, 0.72);
  border-bottom: 6px dotted rgba(165, 195, 244, 0);
  border-top: 6px dotted #ffffff00;
  animation: rotateCircle 3s ease-out alternate infinite;
}

@keyframes rotateCircle {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

.imageShowParent:hover .imageShowChild {
  transform: translateX(-14vw);
  transition: 400ms;
  opacity: 100;
}
